<!doctype html>
<html>
    <head> 
        <title>Photo Folder Management - {{ title }}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}"/>
        <!-- <meta http-equiv="refresh" content="15"> -->
    </head>
    <body>
        <header>
            <h1>Photo Folder Management - {{ title }}</h1>
        <!-- <em>Page will reload pictures automaticaly every 15 seconds</em> -->
        </header>     

        <div class="col-msg">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                    {% for category, message in messages %}
                        {% if category == "message" %}
                            <li class="message info pulsate">
                                {{ message }}
                            </li>
                        {% else %}
                            <li class="{{ category }} alert autoclose">{{ category }}: {{ message }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% else %}
                    <h3>Status messages</h3>   
                {% endif %}
            {% endwith %}
        </div>
        <nav class="menu"> 
            <ul class="menu_items">
                <li class="button" title="Main Home Page"><a href="/" class="fas fa-home"></a></li>
                <li class="button" title="Configuration"><a href="config" class="fas fa-cogs"></a> </li>
                <li class="button" title="Manual Copy Job"><a href="copy_job" class="fas fa-images"></a> </li>
                <li class="button" title="Slideshow"><a href="slideshow" class="fab fa-slideshare"></a> </li>
                {% if title == "Configuration" %}
                    {% if datamode == "txt" %}
                        <li class="button" title="List of blacklisted files after delete"><a href="blacklist" class="fas fa-ban"></a></li>
                        <li class="button" title="List of Whitelist/Favorite pictures"><a href="whitelist" class="fas fa-crown"></a> </li>
                    {% elif datamode == "csv" %}
                        <li class="button" title="To be implemented"><a href=# class="fas fa-ban"></a></li>
                    {% else %}
                        <h3>Datamode not found</h3>
                    {% endif %}
                        <li class="button reset" title="Restore settings and folder structure to its original condition. Does NOT affect the source folder." ><a href="/reset">Restore Defaults</a></li>
                    {% if mode == "demo" %}
                        <li class="button reset" title="Remove folders, pics and logs. Does NOT affect the source folder."><a href="/clear">Essentials Only</a></li>
                    {% endif %}
                {% endif %}

            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>

    <footer>
        <p><a href="https://github.com/pnatel/PhotoFolder/blob/master/LICENSE">MIT License</a> | 
        <a href="https://github.com/pnatel/PhotoFolder/">PhotoFolder By pnatel - 2020</a></p>
    </footer>

</html>