{% extends "base.html" %}

{% block content %}
<h1>{{ mode.upper() }} Mode</h1>
<h2 class="autoclose">WARNING: SAVING CHANGES HERE MAY RENDER THE APP UNUSABLE</h2>
<fieldset>
    <form action="{{ url_for('config') }}" enctype="multipart/form-data" method="POST"> 
        
        <textarea name="config">               
{{ config_file }}        
        </textarea>
        <h2>Are you sure?</h2>
        <input type="submit" class="button save" value='Yes, Save the changes'>
    
    </form>   
</fieldset>
{% endblock %}
