{% extends "base.html" %}

{% block content %}
<nav class="menu"> 
    <ul class="menu_items">
        <li><a href="/" class="button">Home</a></li>
        <li><a href="config" class="button">Configuration</a> </li>
        <li><a href="blacklist" class="button">Blacklist</a></li>
        <li><a href="whitelist" class="button">Whitelist</a></li>
        <li><a href="/reset" class="button reset">Restore Defaults DO NOT CLICK!</a></li>
    </ul>
</nav>

<fieldset>
    <h2>WARNING: SAVING CHANGES HERE MAY RENDER THE APP UNUSABLE</h2>
    <form action="{{ url_for('config') }}" enctype="multipart/form-data" method="POST"> 
        
        <textarea name="config">               
{{ config_file }}        
        </textarea>
        <h2>Are you sure?</h2>
        <input type="submit" class="button save" value='Yes, Save the changes'>
    
    </form>   
</fieldset>
{% endblock %}
