{% extends "base.html" %}

{% block content %}

    <form action="{{ url_for('index') }}" enctype="multipart/form-data" method="POST"> 
        
        {% if len_list > 0 %}
            <nav class="floating">
                <ul>
                    <li><input type="submit" class="button" name="delete" value="Delete"></li>
                    <li><input type="submit" class="button" name="favorite" value="Favorite"></li>
                    <li><input type="submit" class="button" name="left" value="Rotate Left"></li>
                    <li><input type="submit" class="button" name="180" value="Upside-Down"></li>
                    <li><input type="submit" class="button" name="right" value="Rotate Right"></li>
                </ul>
            </nav>
        {% else %}
            <h2>Nothing to see here. Run a Copy Job to see some action!</h2>
        {% endif %}
        <fieldset>
            <ul>
                {% for i in range(len_list) %}
                    <li><input type="checkbox" id="cb{{ i }}" name="cb{{ i }}" value="{{ images[i-1] }}">
                    {% if images[i-1].split('/')[-1] in extra_list %}
                    <label for="cb{{ i }}" class="favorite">
                    {% else %}
                    <label for="cb{{ i }}">
                    {% endif %}
                    <!-- WARNING: Changes in thumbnail quality require adjustments in "filePrunning" function -->
                    <img src="{{ path }}{{ images[i-1]|thumbnail('200x200') }}" alt="{{ images[i-1] }}">
                        <br> <a href="{{ path }}{{ images[i-1] }}" target=”_blank”><small>{{ images[i-1] }}</small></a>
                    </label>
                    </li>
                {% endfor %}
            </ul>
        </fieldset>
    </form>   

{% endblock %}