{% extends "base.html" %}

{% block content %}

    <form action="{{ url_for('index') }}" enctype="multipart/form-data" method="POST"> 
        <fieldset class="menu"> 
            <div class="menu_items">
                <a href="/" class="button">Home</a>
                <a href="config" class="button">Configuration</a> 
                <input type="submit" class="button" name="left" value="Rotate Left">
                <input type="submit" class="button" name="right" value="Rotate Right">
                <input type="submit" class="button" name="delete" value="Delete">
                <input type="submit" class="button" name="favorite" value="Add to Favorite">
                <input type="submit" class="button" name="copy_job" value="Copy Job">
            </div>
                
            <!-- <div class="col-msg">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=pulsate>
                    {% for category, message in messages %}
                        {% if category == "message" %}
                            <li class="message">{{ message }}</li>
                        {% else %}
                            <li class="{{ category }} alert autoclose">{{ category }}: {{ message }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% else %}
                    <h3>Status messages</h3>   
                {% endif %}
                {% endwith %}
            </div> -->
        </fieldset>    
        <fieldset>
        <ul>
            {% for i in range(len_list) %}
                <li><input type="checkbox" id="cb{{ i }}" name="cb{{ i }}" value="{{ images[i-1] }}">
                {% if images[i-1].split('/')[-1] in extra_list %}
                <label for="cb{{ i }}" class="favorite">
                {% else %}
                <label for="cb{{ i }}">
                {% endif %}
                <img src="{{ images[i-1][7:] }}" alt="{{ images[i-1].split('/')[-1] }}">
                    <br> <a href="{{ images[i-1][7:] }}" target=”_blank”><small>{{ images[i-1].split('/')[-1] }}</small></a>
                </label>
                </li>
            {% endfor %}
        </ul>
        </fieldset>
    </form>   

{% endblock %}