{% extends "base.html" %}

{% block content %}
<fieldset>
    <h2>WARNING: Files in this list will be ALWAYS available</h2>
    <p>Items Favorited will be added to this list. During copy job, it crosscheck with this list before copying files</p>
    <form action="{{ url_for('whitelist') }}" enctype="multipart/form-data" method="POST"> 
        
        <textarea name="whitelist">               
{{ whitelist }}        
        </textarea>
        <input type="submit" class="button save" value='Save the changes'>
    
    </form>   
</fieldset>
{% endblock %}
